.ItemSlider {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: fit-content;
    margin-bottom: 30px;

    p {
        margin-bottom: 20px;
        color: #969696;
        font-size: 16px;
    }

    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            margin-right: 50px;
            height: 200px;
            width: 200px;
        }
    }
}


@media (max-width:1024px) {
    .bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        gap: 5px;
    }

    .ItemSlider {
        width: 100%;
    }
}