.ItemGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;

    .item {
        padding: 10px;
        width: fit-content;

        cursor: pointer;
        border-radius: 10px;

        &:hover {
            background-color: #ececec;
        }

        img {
            height: auto;
            width: 80px;
            border-radius: 10px;
            margin: 0;
            margin-bottom: 10px;
            object-fit: cover;
        }

        .name {
            font-weight: 600;
            max-width: 90px;
            width: fit-content;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* number of lines to show */
            line-clamp: 2;
            overflow: hidden;
            -webkit-box-orient: vertical;
        }

        .price {
            color: rgb(255, 101, 235);
            font-weight: 600;
            width: fit-content;
        }

        .info {
            width: fit-content;

            font-size: 10px;
            color: #969696;
        }
    }
}


@media (max-width:1024px) {

    .ItemGrid {
        display: grid;
        width: 100%;
        // grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: repeat(2, 1fr);
        gap: 5px;

        .item {
            padding: 0;

            img {
                height: 70px;
                width: 70px;
            }
        }
    }


}


@media (max-width:500px) {

    .ItemGrid .item img {
        height: 60px;
        width: 60px;
    }
}

@media (min-width:700px) and (max-width:1024px) {
    .ItemGrid {
        .item {
            display: flex;
            // flex-wrap: wrap;
            align-items: center;
            justify-content: left;
            gap: 10px;

            img {
                margin-bottom: 0px;
            }

            .content {
                display: flex;
                align-items: left;
                justify-content: center;
                flex-direction: column;

                .price,
                .info {
                    display: none;
                }
            }
        }
    }

}