.HomePage {
    // width: 85%;
    width: 100%;
    height: max-content;
    padding: 40px;
    background-color: #F7F6FB;
    border-top-left-radius: 30px;
}


@media (max-width:1024px) {
    .HomePage {
        border-top-left-radius: 0px;
        padding: 10px;
    }


}