.Details {
    width: 100%;
    height: max-content;
    padding: 40px;
    background-color: #F7F6FB;
    border-top-left-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .cover {
        margin-bottom: 20px;
        width: 100%;

        img {
            width: 100%;
            height: 40vh;
            object-fit: cover;
            background-attachment: fixed;
        }

        iframe {
            height: 40vh;
        }
    }

    .head {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .lefthead {

            display: flex;
            align-items: center;
            justify-content: left;
            gap: 10px;

            img {
                height: 100px;
                width: 100px;
                border-radius: 10px;
            }

            .content {
                .name {
                    font-size: 25px;
                }

                .publisher {
                    font-size: 15px;
                    font-weight: 600;
                    color: #6262ff;
                }

                .info {
                    display: flex;
                    align-items: center;
                    justify-content: left;
                    gap: 10px;
                    margin: 0;

                    .infoSec {
                        display: flex;
                        align-items: center;
                        justify-content: left;
                        gap: 5px;
                    }
                }
            }
        }

        .righthead {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            flex-direction: column;

            button {
                background-color: #6262ff;
                color: white;
                border-radius: 10px;
                font-weight: 500;
                border: 2px solid transparent;
                padding: 5px 15px;
                transition: 200ms linear;

                &:hover {
                    outline: none;
                    border-color: #6262ff;
                    box-shadow: 0 0 0 4px rgba(76, 87, 234, 0.507);
                }
            }

            a {
                color: #ACAFC1;
                font-size: 15px;
                transition: 200ms linear;

                &:hover {
                    color: #6262ff;
                }
            }
        }
    }

    .description {
        width: 80%;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 20px;

        h1 {
            font-size: 25px;
            font-weight: 500;
            margin-bottom: 10px;
        }

        p {
            max-width: 70%;
            color: rgb(95, 99, 104);
        }

        .purchases {
            margin: 10px 0;
            color: #464646;
            font-weight: 500;

            a {
                &:hover {
                    color: #6262ff;
                }
            }
        }

    }







}



@media (max-width:1024px) {
    .Details {
        padding: 0px;
        border-top-left-radius: 0px;

        .head {
            width: 90%;
            flex-direction: column;
            gap: 30px;

            .lefthead {
                align-items: center;

                img {
                    height: 60px;
                    width: 60px;
                    margin-right: 20px;
                }

                .content {
                    .name {
                        font-size: 20px;
                    }
                }
            }

            .righthead {}

        }


        .description {
            width: 90%;

            p {
                max-width: 100%;
            }
        }

        .categories {
            width: 90%;
        }

        .screens {
            width: 90%;
            gap: 10px;
        }

        .infoDetail {
            width: 90%;
            grid-template-columns: auto;

            .infoElem {

                h3 {}

                p {
                    text-wrap: wrap;
                    overflow-x: hidden;
                }
            }
        }
    }
}