@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');

.Navbar {
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;


    .logo {

        font-size: 30px;
        text-transform: capitalize;
        font-weight: 600;
        color: #6262ff;
        transition: 200ms linear;

        &:hover {
            color: blue;

        }

        a {
            font-family: "Anton SC", sans-serif;
            font-weight: 700;
            font-style: normal;
        }
    }

    .navs {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .highlighted {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            border-radius: 10px;
            background-color: #F7F6FB;
            color: #ACAFC1;
            border-radius: 10px;

            button {
                border-radius: 10px;
                transition: 100ms linear;
                width: 100px;
                text-align: center;
            }

            .active {
                background-color: #6262ff;
                color: white;
            }
        }

        button {
            padding: 5px 15px;

            text-transform: capitalize;
        }
    }

    .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .group {
            display: flex;
            line-height: 28px;
            align-items: center;
            position: relative;
            max-width: 300px;
        }

        .input {
            width: 100%;
            height: 40px;
            line-height: 28px;
            padding: 0 1rem;
            padding-left: 2.5rem;
            border: 2px solid transparent;
            border-radius: 8px;
            outline: none;
            background-color: #f3f3f4;
            color: #0d0c22;
            transition: .3s ease;
        }

        .input::placeholder {
            color: #9e9ea7;
        }

        .input:focus,
        input:hover {
            outline: none;
            border-color: rgba(79, 76, 234, 0.4);
            background-color: #fff;
            box-shadow: 0 0 0 4px rgba(76, 87, 234, 0.1);
        }

        .icon {
            position: absolute;
            left: 1rem;
            fill: #9e9ea7;
            width: 1rem;
            height: 1rem;
        }
    }
}

@media (max-width:1024px) {
    .Navbar {
        padding: 20px;

        .navs {
            display: none;
        }
    }
}