.Sidebar {
    padding: 20px 40px;
    padding-right: 20px;
    min-width: 250px;
    width: 15%;
    background-color: white;
    position: sticky;
    top: 85px;
    left: 0;
    height: fit-content;

    .sideNavs {
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        gap: 20px;

        .sideNav {
            display: flex;
            align-items: center;
            justify-content: left;
            gap: 10px;
            color: #969696;
            text-transform: capitalize;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            // max-width: 150px;
            cursor: pointer;
            transition: 100ms linear;

            svg {
                color: #ACAFC1 !important;
            }

            &:hover {
                color: white !important;
                background-color: #6262ff;

                svg {
                    color: white !important;
                }
            }


        }

        .active {
            color: white !important;
            background-color: #6262ff;

            svg {
                color: white !important;
            }
        }
    }
}


@media (min-width:1024px) {
    .Sidebar {
        .sideNavs {

            .my,
            .settings,
            .close {
                display: none;
            }
        }
    }
}


@media (max-width:1024px) {
    .Sidebar {
        position: absolute;
        top: 70px;
        padding: 20px;
        left: 0;
        border-bottom-right-radius: 10px;

        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}