.Profile {
    padding: 10px;
    width: 80%;
}


@media (max-width:1024px) {
    .Profile {
        width: 100%;

        .manage {
            display: none;
        }

    }

    .Profile>h1 {
        display: none;
    }
}