.ItemList {
    border-radius: 30px;
    width: fit-content;
    margin-bottom: 50px;
    height: fit-content;

    .content {
        background-color: white;
        padding: 20px;
        display: grid;
        border-radius: 20px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 20px;


    }
}

@media (max-width:1024px) {
    .ItemList {
        .content {
            padding: 10px;
            grid-template-columns: 1fr;
            gap: 0px;
            grid-template-rows: auto;

            .item .text {
                margin-right: 10px;
            }

            .item {
                .left {

                    gap: 10px;
                }

                .manage {
                    p {
                        font-size: 10px;
                    }

                }
            }
        }

    }
}