.mySwiper {
    border-radius: 20px;
    background-color: gray;
    margin-bottom: 50px;
    width: 100% !important;

    .swiper-slide-active,
    .swiper-slide-next {
        width: 100% !important;
        padding: 40px;

        img {
            height: 50px;
            width: 50px;
            object-fit: cover;
            margin-bottom: 15px;
            border-radius: 10px;
        }

        .name {
            color: white;
            font-size: 25px;
            font-weight: 600;
            margin-bottom: 15px;
            max-width: 50%;
        }

        .subtext {
            max-width: 50%;
            color: white;
            font-size: 15px;
            font-weight: 300;
            margin-bottom: 15px;
        }
    }
}